name: alloy

services:
  alloy:
    container_name: alloy
    image: grafana/alloy:latest
    command:
      - "run"
      - "--server.http.listen-addr=0.0.0.0:12345"
      - "--storage.path=/var/lib/alloy/data"
      - "/etc/alloy/config.alloy"
    environment:
      GRAFANA_COLLECTOR_ID: "1256811"
      GRAFANA_COLLECTOR_TOKEN: ${GRAFANA_COLLECTOR_TOKEN}
      GRAFANA_FLEET_TOKEN: ${GRAFANA_COLLECTOR_TOKEN}
    volumes:
      - '../etc/config.alloy:/etc/alloy/config.alloy'
      - '/var/run/docker.sock:/var/run/docker.sock'
    expose:
      - '12345'
    restart: "unless-stopped"
    networks:
      - default

networks:
  default:
