name: "arr"

services:
  radarr:
    image: "lscr.io/linuxserver/radarr:latest"
    container_name: "radarr"
    restart: "unless-stopped"
    environment:
      - "PUID=1000"
      - "PGID=1000"
      - "TZ=Pacific/Auckland"
    volumes:
      - "${CONFIG_FOLDER}/radarr:/config"
      - "${MOVIES_FOLDER}:/movies"
      - "${DOWNLOADS_FOLDER}:/downloads"
    expose:
      - "7878"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.radarr.entrypoints=web"
      - "traefik.http.routers.radarr.rule=Host(`radarr.tqid.dev`)"

  sonarr:
    image: "lscr.io/linuxserver/sonarr:latest"
    container_name: "sonarr"
    restart: "unless-stopped"
    environment:
      - "PUID=1000"
      - "PGID=1000"
      - "TZ=Pacific/Auckland"
    volumes:
      - "${CONFIG_FOLDER}/sonarr:/config"
      - "${TV_FOLDER}:/tv"
      - "${DOWNLOADS_FOLDER}:/downloads"
    expose:
      - "8989"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.sonarr.entrypoints=web"
      - "traefik.http.routers.sonarr.rule=Host(`sonarr.tqid.dev`)"

  prowlarr:
    image: "lscr.io/linuxserver/prowlarr:latest"
    container_name: "prowlarr"
    restart: "unless-stopped"
    environment:
      - "PUID=1000"
      - "PGID=1000"
      - "TZ=Pacific/Auckland"
    volumes:
      - "${CONFIG_FOLDER}/prowlarr:/config"
    expose:
      - "9696"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.prowlarr.entrypoints=web"
      - "traefik.http.routers.prowlarr.rule=Host(`prowlarr.tqid.dev`)"

  qbittorrent:
    image: "lscr.io/linuxserver/qbittorrent:5.0.4"
    container_name: "qbittorrent"
    restart: "unless-stopped"
    environment:
      - "PUID=1000"
      - "PGID=1000"
      - "TZ=Pacific/Auckland"
      - "WEBUI_PORT=8080"
    volumes:
      - "${CONFIG_FOLDER}/qbittorrent:/config"
      - "${DOWNLOADS_FOLDER}:/downloads"
    expose:
      - "8080"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.qbittorrent.entrypoints=web"
      - "traefik.http.routers.qbittorrent.rule=Host(`qbittorrent.tqid.dev`)"
      - "traefik.http.services.qbittorrent.loadbalancer.server.port=8080"

  jellyfin:
    image: "lscr.io/linuxserver/jellyfin:latest"
    container_name: "jellyfin"
    restart: "unless-stopped"
    environment:
      - "PUID=1000"
      - "PGID=1000"
      - "TZ=Pacific/Auckland"
      - "JELLYFIN_PublishedServerUrl=https://jellyfin.tqid.dev" #optional
    devices:
      - "/dev/dri:/dev/dri"
    volumes:
      - "${CONFIG_FOLDER}/jellyfin:/config"
      - "${MOVIES_FOLDER}:/data/movies"
      - "${TV_FOLDER}:/data/tv"
    ports:
      - "8096:8096" # Local HTTP
#      - 8920:8920 #optional
      - "7359:7359/udp" # Local service discovery
#      - 1900:1900/udp #optional
    expose:
      - "8096"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.jellyfin.entrypoints=web"
      - "traefik.http.routers.jellyfin.rule=Host(`jellyfin.tqid.dev`)"
      - "traefik.http.services.jellyfin.loadbalancer.server.port=8096"

  tdarr:
    image: "ghcr.io/haveagitgat/tdarr:latest"
    container_name: "tdarr"
    restart: "unless-stopped"
    expose:
      - "8265" # webUI port
      - "8266" # server port
    environment:
      - "TZ=Pacific/Auckland"
      - "PUID=1000"
      - "PGID=1000"
      - "UMASK_SET=002"
      - "serverIP=0.0.0.0"
      - "serverPort=8266"
      - "webUIPort=8265"
      - "internalNode=true"
      - "inContainer=true"
      - "ffmpegVersion=7"
      - "nodeName=MyInternalNode"
      - "auth=false"
      - "openBrowser=true"
      - "maxLogSizeMB=10"
      - "cronPluginUpdate="
      - "NVIDIA_DRIVER_CAPABILITIES=all"
      - "NVIDIA_VISIBLE_DEVICES=all"
    ports:
      - "8266:8266"
    volumes:
      - "${CONFIG_FOLDER}/tdarr/server:/app/server"
      - "${CONFIG_FOLDER}/tdarr/configs:/app/configs"
      - "${CONFIG_FOLDER}/tdarr/logs:/app/logs"
      - "${CONFIG_FOLDER}/tdarr/cache:/temp" # TODO: Check this gets cleared out after the fact
      - "${MOVIES_FOLDER}:/media/movies"
      - "${TV_FOLDER}:/media/tv"
    devices:
      - /dev/dri:/dev/dri
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.tdarr.entrypoints=web"
      - "traefik.http.routers.tdarr.rule=Host(`tdarr.tqid.dev`)"

  jellyseerr:
    image: "fallenbagel/jellyseerr:latest"
    container_name: "jellyseerr"
    restart: "unless-stopped"
    expose:
      - "5055"
    environment:
      - "TZ=Pacific/Auckland"
      - "PUID=1000"
      - "PGID=1000"
    volumes:
      - "${CONFIG_FOLDER}/jellyseer:/app/config"
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost:5055/api/v1/status || exit 1
      start_period: 20s
      timeout: 3s
      interval: 15s
      retries: 3
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.jellyseer.entrypoints=web"
      - "traefik.http.routers.jellyseer.rule=Host(`jellyseer.tqid.dev`)"

  homarr:
    container_name: homarr
    image: ghcr.io/homarr-labs/homarr:latest
    restart: unless-stopped
    expose:
     - "7575"
    environment:
      - "SECRET_ENCRYPTION_KEY=${HOMARR_ENCRYPTION_KEY}"
    volumes:
      - "${CONFIG_FOLDER}/homarr:/appdata"
      - "/var/run/docker.sock:/var/run/docker.sock"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.homarr.entrypoints=web"
      - "traefik.http.routers.homarr.rule=Host(`home.tqid.dev`)"
      - "traefik.http.services.homarr.loadbalancer.server.port=7575"

networks:
  default:
