services:
  mealie:
    image: "ghcr.io/mealie-recipes/mealie:v3.1.2"
    container_name: "mealie"
    restart: "unless-stopped"
    environment:
      ALLOW_SIGNUP: "false"
      PUID: "1000"
      PGID: "1000"
      TZ: "Pacific/Auckland"
      BASE_URL: "https://recipes.tqid.dev"
    volumes:
      - "mealie-data:/app/data/"
    expose:
      - "9000"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.recipes.rule=Host(`recipes.tqid.dev`)"
      - "traefik.http.routers.recipes.entrypoints=web"

volumes:
  mealie-data:

networks:
  default: