version: '3.8'

services:
  watchtower:
    image: "containrrr/watchtower:latest"
    container_name: "watchtower"
    restart: "unless-stopped"
    environment:
      TZ: Pacific/Auckland
      WATCHTOWER_NOTIFICATION_URL: discord://${WATCHTOWER_DISCORD_TOKEN}@${WATCHTOWER_DISCORD_WEBHOOKID}
      WATCHTOWER_NOTIFICATION_REPORT: true
      # Default template with some unnecessary details removed: https://containrrr.dev/watchtower/notifications/#report_templates
      WATCHTOWER_NOTIFICATION_TEMPLATE: |
        {{- if .Report -}}
          {{- with .Report -}}
            {{- if ( or .Updated .Failed ) -}}
              {{len .Scanned}} Scanned, {{len .Updated}} Updated, {{len .Failed}} Failed
              {{- range .Updated}}
              - {{.Name}} ({{.ImageName}}): {{.CurrentImageID.ShortID}} updated to {{.LatestImageID.ShortID}}
              {{- end -}}
              {{- range .Skipped}}
              - {{.Name}} ({{.ImageName}}): {{.State}}: {{.Error}}
              {{- end -}}
              {{- range .Failed}}
              - {{.Name}} ({{.ImageName}}): {{.State}}: {{.Error}}
              {{- end -}}
            {{- end -}}
          {{- end -}}
        {{- else -}}
          {{range .Entries -}}{{.Message}}{{"\n"}}{{- end -}}
        {{- end -}}
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
    command: >
      --cleanup
      --schedule "0 0 3 * * *"
