name: "Alloy"

on:
  workflow_dispatch:
  push:
    paths:
      - .github/workflows/alloy.yml
      - docker/alloy.yml
      - etc/config.alloy
    branches:
      - main

jobs:
  alloy:
    runs-on: self-hosted
    env:
      GRAFANA_FLEET_TOKEN: ${{ secrets.GRAFANA_FLEET_TOKEN }}
      GRAFANA_COLLECTOR_TOKEN: ${{ secrets.GRAFANA_COLLECTOR_TOKEN }}
    steps:
      - uses: actions/checkout@v4
      - run: docker compose -f docker/alloy.yml up --wait
