name: "Media"

on:
  workflow_dispatch:
  push:
    paths:
      - .github/workflows/arr.yml
      - docker/arr.yml
    branches:
      - main

jobs:
  arr:
    runs-on: self-hosted
    env:
      CONFIG_FOLDER: "/mnt/unitek/config"
      DOWNLOADS_FOLDER: "/mnt/unitek/downloads"
      MEDIA_FOLDER: "/mnt/unitek/media"
      MOVIES_FOLDER: "/mnt/unitek/movies"
      TV_FOLDER: "/mnt/unitek/tv"
      HOMARR_ENCRYPTION_KEY: ${{ secrets.HOMARR_ENCRYPTION_KEY }}
    steps:
      - uses: actions/checkout@v4
      - run: docker compose -f docker/arr.yml up --wait
