name: "Immich"

on:
  workflow_dispatch:
  push:
    paths:
      - .github/workflows/immich.yml
      - docker/immich.yml
    branches:
      - main

jobs:
  immich:
    runs-on: self-hosted
    # https://docs.immich.app/install/environment-variables
    env:
      # The location where your uploaded files are stored
      UPLOAD_FOLDER: "/mnt/data/immich/library"
      # The location where your database files are stored. Network shares are not supported for the database
      DB_DATA_LOCATION: "/mnt/data/immich/postgres"
      # Connection secret for postgres. You should change it to a random password
      # Please use only the characters `A-Za-z0-9`, without special characters or spaces
      DB_PASSWORD: ${{ secrets.IMMICH_DB_PASSWORD }}
    steps:
      - uses: actions/checkout@v4
      - run: docker compose -f docker/immich.yml up --wait
