name: "PhotoPrism"

on:
  workflow_dispatch:
  push:
    paths:
      - .github/workflows/photoprism.yml
      - docker/photoprism.yml
    branches:
      - main

jobs:
  photoPrism:
    runs-on: self-hosted
    ## https://docs.photoprism.app/getting-started/config-options/
    env:
      PRISM_DB_LOCATION: "/home/tqid/prism/mariadb"
      PRISM_CACHE_FOLDER: "/home/tqid/prism/prism"
      PRISM_IMPORT_FOLDER: "/mnt/unitek/photoprism/import"
      PRISM_ORIGINALS_FOLDER: "/mnt/unitek/photoprism/originals"

      PRISM_ADMIN_PASSWORD: ${{ secrets.PRISM_ADMIN_PASSWORD }}
      PRISM_MARIADB_PASSWORD: ${{ secrets.PRISM_MARIADB_PASSWORD }}
      PRISM_MARIADB_ROOT_PASSWORD: ${{ secrets.PRISM_MARIADB_ROOT_PASSWORD }}
    steps:
      - uses: actions/checkout@v4
      - run: docker compose -f docker/photoprism.yml up --wait
